<CascadingAuthenticationState>
    @*<ThemeProvider Theme="@theme">*@
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    @*</ThemeProvider>*@
</CascadingAuthenticationState>

@code {
    //private Theme theme = new Theme
    //{
    //    ColorOptions = new ThemeColorOptions
    //    {
    //        Primary = "#024462",
    //        Secondary = "#076D9C",
    //        Info = "#CCDBDC"
    //    },

    //    BackgroundOptions = new ThemeBackgroundOptions
    //    {
    //        Primary = "#076D9C",
    //        Secondary = "#CCDBDC",
    //        Info = "#CCDBDC",
    //    },

    //    ButtonOptions = new ThemeButtonOptions
    //    {
    //        Padding = "10px",
    //        BoxShadowSize = "2px, 5px",

    //    },

    //    DropdownOptions = new ThemeDropdownOptions
    //    {
    //        BorderRadius = "2px",
    //    },

    //    InputOptions = new ThemeInputOptions
    //    {
    //        Color = "#024462",
    //    },

    //    ModalOptions = new ThemeModalOptions
    //    {
    //        BorderRadius = "2px",
    //    },

    //    TableOptions = new ThemeTableOptions
    //    {
    //        BorderRadius = "2px"
    //    },

    //    SidebarOptions = new ThemeSidebarOptions
    //    {
    //        BackgroundColor = "#024462",
    //        Color = "#fff"
    //    }
    //};
}